.chat-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#chat-messages-container {
  flex: 1;
  overflow-y: auto;
}

#chat-messages {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  margin: 0 0 1em 0;
}

.message.system {
  color: blue;
}

.chat-input-container {
  display: flex;
  flex-direction: row;
}

#chat-input {
  flex: 1;
}
